{% extends 'blog_base.html' %}

{% block blog_main %}

        <!-- Blog Entries Column -->
        <div class="col-md-8">

          <h1 class="my-4">My Blog
          </h1>
          <h2>Posts in category {{ category }}</h2>

          {% if blog_posts %}
            {% for post in blog_posts %}
              <!-- Blog Post -->
              <div class="card mb-4">
                <img class="card-img-top" src="{{ post.image.url }}" alt="">
                <div class="card-body">
                  <h2 class="card-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                  <p class="card-text">{{ post.description }}</p>
                  <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Read More &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                  Posted on {{ post.published_date }} by {{ post.author }}
                </div>
              </div>
            {% endfor %}
          {% else %}
            <p>There are no blog posts (yet!)</p>
          {% endif %}

        </div>

{% endblock %}