{% extends 'blog_base.html' %}

{% block blog_main %}

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Title -->
          <h1 class="mt-4">{{ blog_post.title }}</h1>

          <!-- Author -->
          <p class="lead">
            by
            {{ blog_post.author }}
          </p>

          <hr>

          <!-- Date/Time -->
          <p>{{ blog_post.published_date }}</p>

          <hr>

          <hr>

          <div id="blog-body">
            {{ blog_post.body|safe }}
          </div>

          <hr>
        </div>

{% endblock %}
