{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Header -->
<header class="intro-header">
  <div class="container">
    <div class="intro-message">
      <h1>Rory Byrne</h1>
      <h3>Average Guy #454</h3>
      <hr class="intro-divider">
      <ul class="list-inline intro-social-buttons">
        <li class="list-inline-item">
          <a href="https://twitter.com/DonaldoNumber9" class="btn btn-secondary btn-lg">
            <i class="fa fa-twitter fa-fw"></i>
            <span class="network-name">Twitter</span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://github.com/RoryOfByrne" class="btn btn-secondary btn-lg">
            <i class="fa fa-github fa-fw"></i>
            <span class="network-name">Github</span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.linkedin.com/in/rory-byrne-8379886b/" class="btn btn-secondary btn-lg">
            <i class="fa fa-linkedin fa-fw"></i>
            <span class="network-name">Linkedin</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>



<!-- Page Content -->
<section class="content-section-a">

  <div class="container">
    <div class="row">
      <div class="col-lg-5 ml-auto">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Ronald Trump Tweet Generator</h2>
          <p class="lead">Currently a work-in-progress, this project uses markov chains and NLP techniques to
              generate text which resembles Donald Trump! Find the code <a href="https://github.com/RoryOfByrne/ronald-trump">here</a> at GitHub!
          </p>
      </div>
      <div class="col-lg-5 mr-auto">
        <img class="img-fluid" src="{% static "ronaldtrump/images/fake-trump.jpg" %}" alt="">
      </div>
    </div>

  </div>
  <!-- /.container -->
</section>

<!--<section class="content-section-b">-->

  <!--<div class="container">-->

    <!--<div class="row">-->
      <!--<div class="col-lg-5 mr-auto order-lg-2">-->
        <!--<hr class="section-heading-spacer">-->
        <!--<div class="clearfix"></div>-->
        <!--<h2 class="section-heading">3D Device Mockups<br>by PSDCovers</h2>-->
        <!--<p class="lead">Turn your 2D designs into high quality, 3D product shots in seconds using free Photoshop actions by-->
          <!--<a target="_blank" href="http://www.psdcovers.com/">PSDCovers</a>! Visit their website to download some of their awesome, free photoshop actions!</p>-->
      <!--</div>-->
      <!--<div class="col-lg-5 ml-auto order-lg-1">-->
        <!--<img class="img-fluid" src="img/dog.png" alt="">-->
      <!--</div>-->
    <!--</div>-->

  <!--</div>-->
  <!--&lt;!&ndash; /.container &ndash;&gt;-->

<!--</section>-->
<!--&lt;!&ndash; /.content-section-b &ndash;&gt;-->

<!--<section class="content-section-a">-->

  <!--<div class="container">-->

    <!--<div class="row">-->
      <!--<div class="col-lg-5 ml-auto">-->
        <!--<hr class="section-heading-spacer">-->
        <!--<div class="clearfix"></div>-->
        <!--<h2 class="section-heading">Google Web Fonts and<br>Font Awesome Icons</h2>-->
        <!--<p class="lead">This template features the 'Lato' font, part of the-->
          <!--<a target="_blank" href="http://www.google.com/fonts">Google Web Font library</a>, as well as-->
          <!--<a target="_blank" href="http://fontawesome.io">icons from Font Awesome</a>.</p>-->
      <!--</div>-->
      <!--<div class="col-lg-5 mr-auto ">-->
        <!--<img class="img-fluid" src="img/phones.png" alt="">-->
      <!--</div>-->
    <!--</div>-->

  <!--</div>-->
  <!--&lt;!&ndash; /.container &ndash;&gt;-->

<!--</section>-->
<!-- /.content-section-a -->

{% endblock %}